.stars {
  display: flex;
  gap: 4px;

  &__item {
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    border-radius: 0.5px;
  }

  @for $i from 1 through 5 {
    &--#{$i} .stars__item:nth-child(-n + #{$i}) {
      background-image: url('../images/star-active.svg');
    }
  }
}
